.center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 3vh;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
}

.homeImg {
  width: 100%;
  height: 18vh;
}

.titleImgWrapper {
  width: 100%;
  /* height: 45vh; */
  flex: 1;
  position: relative;
}

.titleImg {
  display: inline-block;
  max-width: 33vw;
  height: 100%;
}

.enTitle {
  width: 100%;
  height: 10vh;
  font-family: "d1";
  font-size: 3.5vh;
  color: #eed9aa;
}
.homeCnTitle {
  position: absolute;
  font-size: 6vh;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: vertical-lr;
  letter-spacing: 2vh;
}

.blessWrapper {
  height: 27vh;
  display: flex;
  flex-direction: column;
}

.bless {
  flex: 1;
  font-size: 18px;
  color: #eed9aa;
}
.name {
  flex: 1;
  font-size: 18px;
  color: #eed9aa;
  font-family: "d3";
}
.info {
  flex: 1;
  font-size: 18px;
  color: #eed9aa;
}

.vindicateWrapper {
  padding-top: 5vh;
}
.vindicateTopImg {
  display: inline-block;
  width: 85vw;
  height: 33vh;
  border-radius: 2px;
  border: 1px #eed9aa solid;
  padding: 2vw;
}

.q1 {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.invitationContent {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
}

.invitationStr {
  flex: 5;
  color: #eed9aa;
  width: 80vw;
  text-align: center;
  flex-direction: column;
  letter-spacing: 0.5vh;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
}

.invitationStrItem {
  flex: 1;
  font-family: "d1";
  font-size: 3vh;
}

.ledImg {
  width: 60vw;
  min-height: 22px;
  padding-bottom: 1vh;
  max-height: 36px;
}

.invitationStrBottom {
  flex: 0.75;
  color: #eed9aa;
  letter-spacing: 2vw;
}

.vindicateBottomImg {
  display: inline-block;
  width: 85%;
  height: 10vh;
}

.imgsWrapper {
  padding-top: 3vh;
}

.imgsText {
  height: 12vh;
  font-size: 36px;
  color: #eed9aa;
}

.imgsContent {
  width: 85%;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 2px;
  gap: 2vh;
}
.imgsBig {
  flex: 2.5;
  border-radius: 4px;
}

.imgsSmalls {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2vh;
}
.imgsSmall {
  border-radius: 4px;
  flex: 1;
}

.imgsInviteText {
  padding: 3vh 0;
  flex-direction: column;
  flex-wrap: nowrap;
  color: #eed9aa;
  text-align: center;
}

.mapBless {
  color: #eed9aa;
  font-size: 6vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 20px;
  text-align: center;
}

.mapBlessBottom {
  padding-bottom: 3vh;
  color: #eed9aa;
  letter-spacing: 2vw;
}

.userFormItem {
  color: #eed9aa !important;
}

.calls {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  font-weight: bold;
}

.linkCall {
  color: #eed9aa;
}

.linkCall:hover {
  color: #eed9aa;
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.loveName {
  color: #eed9aa;
  font-size: 22px;
  height: 10vh;
}

.loveImgWrapper {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  border: 6px solid #eed9aa;
  position: relative;
  overflow: visible;
  max-width: 50vh;
  max-height: 50vh;
}

.loveImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.loveImgLabel {
  background: #eed9aa;
  color: #b53c30;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  white-space: nowrap;
  padding: 6px 16px;
  border-radius: 12px;
}

.loveBlessContent {
  color: #eed9aa;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding-bottom: 5vh;
}

.loveBlessItem {
  flex: 1;
  padding: 8px 0;
}
